{{!< main}}

<div id="center">
    <main class="modal">
        <form action="">
            <h1>Вход</h1>
            <div>
                <label for="login">Логин</label>
                <input class="text" type="text" name="login" id="login" value="ivanivanov">
            </div>
            <div>
                <label for="password">Пароль</label>
                <input class="text" type="password" name="password" id="password" value="************">
            </div>
            <div class="actions">
                <button type="submit">Авторизоваться</button>
                <p class="reg"><a href="signup.hbs">Нет аккаунта?</a></p>
            </div>
        </form>
    </main>
</div>
