{{!< main}}

<ul class="pages_list">
    <li><a href="./pages/login.hbs">Вход</a></li>
    <li><a href="./pages/signup.hbs">Регистрация</a></li>
    <li><a href="./pages/chat.hbs">Чат</a></li>
    <li><a href="./pages/profile.hbs">Профиль</a></li>
    <li><a href="./pages/profile-update.hbs">Редактирование профиля</a></li>
    <li><a href="./pages/change-password.hbs">Сменить пароль</a></li>
    <li><a href="./pages/404.hbs">404</a></li>
    <li><a href="./pages/500.hbs">500</a></li>
</ul>
